// .checkout-page {
//   overflow: scroll;
// }

.checkout-header {
  font-size: 50px;
}

.checkout-container {
  height: 300px;
  align-items: center;
  display: column;
  margin-top: 40px;
}

.checkout-image {
  height: 240px;
  width: 200px;
}

.checkout-price {
  margin-right: 1000px;
  font-size: 20px;
}

.checkout-total {
  align-content: center;
  margin-top: 300px;
  font-size: 30px;
}

.checkout-amount {
  font-size: 40px;
}

.checkout-name {
  padding-bottom: 40px;
}

.inc {
  &:hover {
    cursor: pointer;
  }
}

.dec {
  &:hover {
    cursor: pointer;
  }
}
